<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyWall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4952A0631C156B1900646A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4952A07F1C156B1A00646A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4952A08A1C156B1A00646A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
